*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	/*margin-top: 300px;*/
	/*font-family: 'Open Sans', sans-serif;*/
}
header{
	/*padding: 20px;*/
	font-family: 'Poppins';
	background-color: #c2c2c2;
	/*position: fixed;*/
	width: 100%;
}
header nav{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
header nav .logo{
	/*background: blue;*/
	padding: 30px;
}
header nav .button{
	display: flex;
	align-items: center;
	/*background: DodgerBlue;*/
	font-size: 2em;
}
header nav .button a{
	padding: 30px;
	color: #fff;
}
header nav .menu{
	display: none;
	background: red;
}
.navbar{
	justify-content: left;
}
header nav .menu .navbar li{
	list-style: none;
	margin-right: 15px;
}
header nav .menu .navbar li a{
	text-transform: uppercase;
	color: #fff;
}

.navbar-dark .navbar-nav .nav-link{
	margin-right: 5px;
	color: #fff;
	text-transform: uppercase;
	border-bottom: 2px solid #c2c2c2;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color: #fff;
	border-bottom: 2px solid green;	
}

#hero{
	background: url('../img/hero-bg.jpg');
	background-size: contain;
}
#hero .hero-text{
	font-family: "Poppins";
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#hero h1{
	margin-top: 250px;
	text-transform: uppercase;
	font-weight: 700;
}
#hero h2{
	margin-bottom: 250px;
}
#spacer, #otherQuotation{
	background: #1BAC91;
}
#spacer .container, #otherQuotation .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
}
#spacer .cita, #otherQuotation .cita{
	color: #fff;
	font-family: "Open Sans";
	font-size: 36px;
	font-weight: 700;
	line-height: 1.1em;
	text-align: right;
	margin-top: 60px;
	margin-bottom: 60px;
}
#spacer .cita i{
	color: #99D3C8;
	font-size: 68px;
	margin-right: 15px;
}
#spacer .autor-cita{
	color: #555;
	font-size: 18px;
	text-align: right;
	margin-bottom: 60px;
}
#spacer .icono{
	color: #fff;
	font-size: 140px;
	text-align: center;
	margin-bottom: 30px;
}
#acerca{
	background: purple;
}

#servicios .header, #areas .header{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
}
#servicios .sectionTitle, #areas .sectionTitle{
	font-family: 'Roboto', sans-serif;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 48px;
	font-weight: bold;
	color: #111111;
	margin-top: 45px;

}
#servicios .header .divider-header, #areas .header .divider-header{
	width: 40px;
	height: 2px;
	margin: 0 auto;
	margin-bottom: 10px;
	background: #666;
}
#servicios .sectionSubtitle, #areas .sectionSubtitle{
	font-family: 'Lato', sans-serif;
	color: #444444;
	font-size: 20px;
}
#servicios .item-servicio, #areas .item-area{
	/*background: #fff;*/
	margin-bottom: 25px;
}
#servicios .item-servicio article, #areas .item-area article{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	background: #F9F9F9;
	padding: 40px 25px;

}
#servicios .item-servicio article i{
	font-size: 5em;
	margin-bottom: 35px;
	color: #666666;
}
#servicios .item-servicio article h4, #areas .item-servicio article h4{
	margin-bottom: 35px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
#servicios .item-servicio article p, #areas .item-area article p{
	text-align: center;
	color: #666;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
#contacto .container .datos{
	display: flex;
	flex-direction: column;
	padding: 30px;
}
#contacto .container .datos article{
	display: flex;
}
#contacto .container .datos article .text{
	text-transform: uppercase;
	margin-right: 15px;
	width: 30%;
}


@media screen and (min-width: 770px){
	#spacer .container{
		/*background: orange;*/
		flex-wrap: nowrap;
	}
	#spacer .container .icono{
		align-self: center;
		margin-left: 40px;
		margin-top: 60px;
	}
}