*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	/*margin-top: 300px;*/
	/*font-family: 'Open Sans', sans-serif;*/
}
header{
	/*padding: 20px;*/
	font-family: 'Poppins';
	background-color: #c2c2c2;
	/*position: fixed;*/
	width: 100%;
}
header nav{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/*background: blue;*/
}
header nav .logo{
	padding: 30px;
	width: 25%;
}
header nav .button{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	/*background: DodgerBlue;*/
	font-size: 2em;
	width: 75%;
}
header nav .button i{
	padding: 15px;
	font-size: 30px;
	color: #fff;
}

header nav .menu{
	width: 100%;
	/*background: red;*/
}

header nav .navbar{
	display: flex;
	flex-direction: column;
}
header nav #largeNavbar{
	display: none;
}
header nav .navbar li{
	list-style: none;
	margin-right: 15px;
}
header nav .navbar li a{
	text-transform: uppercase;
	color: #fff;
}

.navbar-dark .navbar-nav .nav-link{
	margin-right: 5px;
	color: #fff;
	text-transform: uppercase;
	border-bottom: 2px solid #c2c2c2;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color: #fff;
	border-bottom: 2px solid green;	
}

#hero{
	background: url('../img/hero-bg.jpg');
	background-size: contain;
}
#hero .hero-text{
	font-family: "Poppins";
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#hero h1{
	margin-top: 250px;
	text-transform: uppercase;
	font-weight: 700;
}
#hero h2{
	margin-bottom: 250px;
}
#spacer, #otherQuotation{
	background: #1BAC91;
}
#spacer .container, #otherQuotation .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
}
#spacer .cita, #otherQuotation .cita{
	color: #fff;
	font-family: "Open Sans";
	font-size: 36px;
	font-weight: 700;
	line-height: 1.1em;
	text-align: right;
	margin-top: 60px;
	margin-bottom: 60px;
}
#spacer .cita i{
	color: #99D3C8;
	font-size: 68px;
	margin-right: 15px;
}
#spacer .autor-cita{
	color: #555;
	font-size: 18px;
	text-align: right;
	margin-bottom: 60px;
}
#spacer .icono{
	color: #fff;
	font-size: 140px;
	text-align: center;
	margin-bottom: 30px;
}
#acerca{
	padding: 10px;
}
#acerca .acerca-text{
	/*margin-bottom: 30px;*/
}
#acerca p{
	font-family: 'Lato';
	text-align: center;	
}
.header{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
}
.sectionTitle{
	font-family: 'Roboto', sans-serif;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 48px;
	font-weight: bold;
	color: #111111;
	margin-top: 45px;

}
.header .divider-header{
	width: 40px;
	height: 2px;
	margin: 0 auto;
	margin-bottom: 10px;
	background: #666;
}
#servicios .sectionSubtitle, #areas .sectionSubtitle{
	font-family: 'Lato', sans-serif;
	color: #444444;
	font-size: 20px;
}
#servicios .item-servicio, #areas .item-area{
	margin-bottom: 25px;
}
#servicios .accordion .card, #areas .accordion .card{
	border: none;
}
#servicios .accordion .card .card-header, #areas .accordion .card .card-header{
	background: none;
	width: 100%;
	border: none;
	display: flex;
	flex-direction: column;
	align-content: center;
	padding: 0;
}

#servicios .item-servicio article, #areas .item-area article{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	background: #F9F9F9;
	padding: 40px auto;
	border-radius: 0px;

}
#servicios .item-servicio article i, #areas .item-area article i{
	font-size: 5em;
	margin: 20px auto 35px;
	color: #666666;
}
#servicios .item-servicio article h4, #areas .item-area article h4{
	margin-top: 35px;
	margin-bottom: 0px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	text-decoration: none;
}
#servicios .accordion .card .card-header button, #areas .accordion .card .card-header button{
	border-radius: 0px;
	padding: 0;
	background: #9bbffa;
	/*padding: 15px;*/
	width: 100%;
	/*margin: 10px auto;*/
	/*width: 100%;*/
	border: none;
	text-align: center;
}
#servicios .accordion .card .card-header button:hover, #areas .accordion .card .card-header button:hover{
	background: #c2c2c2;
	text-decoration: none;
}
#servicios .accordion .card .card-header button i, #areas .accordion .card .card-header button i{
	font-size: 20px;
	margin: 15px;
}
#servicios .item-servicio article p, #areas .item-area article p{
	text-align: center;
	color: #666;
	margin: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
#contacto .container .datos{
	display: flex;
	flex-direction: column;
	padding: 50px;
}
#contacto .container .datos article{
	display: flex;
	align-items: center;
}
#contacto .container .datos article .text i{
	margin-right: 15px;
}
#contacto .container .datos article .text{
	text-transform: uppercase;
	margin-right: 15px;
	width: 30%;
	font-size: 1em;
}
#contacto .container .datos article .dato{
	font-size: 0.8em;
	color: #888888;	
}
#contacto .container .datos .redes-sociales{
	display: flex;
	padding: 15px;
	justify-content: center;
	align-items: center;
}
#contacto .container .datos .redes-sociales .fab{
	background: black;
	margin-right: 15px;
	color: white;
	padding: 15px;
	border-radius: 50%;
	font-size: 2em;
}
#contacto .container .datos .redes-sociales .fa-whatsapp:hover{
	background: #128c7e;
	cursor: pointer;
}
#contacto .container .datos .redes-sociales .fa-instagram:hover{
	background: #c13584;
	color: #fcaf45;
	cursor: pointer;
}
#contacto .container .datos .redes-sociales .fa-twitter:hover{
	background: #2bc4ff;
	cursor: pointer;
}
#contacto .container .formulario input[type="text"], #contacto .container .formulario textarea{
	margin-top: 15px;
	padding: 20px;
	font-size: 0.8em;
}
#contacto .container .formulario .btn{
	margin-top: 15px;
	margin-bottom: 30px;
}




@media screen and (min-width: 770px){
	
	#spacer .container{
		/*background: orange;*/
		flex-wrap: nowrap;
	}
	#spacer .container .icono{
		align-self: center;
		margin-left: 40px;
		margin-top: 60px;
	}
}
@media screen and (min-width: 992px){
	header nav .collapseNavbar{
		display: none;
	}
	header nav #largeNavbar{
		display: block;
	}
	header nav .menu{
		order: 2;
		width: 75%;
		padding: 30px;
		/*background: red;*/
	}
	header nav .menu .navbar{
		flex-direction: row;
		margin: 0 auto;
		/*background: purple;*/
	}
	header nav .menu .navbar li{
		/*background: gray;*/
		align-self: center;
	}
	header nav .button{
		display: none;
	}
}